In [1]:
import pandas as pd

In [2]:
!pwd

/home/lianabernat/code/LianaBernat/wearable-project/notebooks/testes

In [3]:
P043 = pd.read_csv("../../data/data_raw/capture24/capture24/P043.csv.gz")

/tmp/ipykernel_40329/1050348102.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  P043 = pd.read_csv("../../data/data_raw/capture24/capture24/P043.csv.gz")

In [4]:
P043.head()

,time,x,y,z,annotation
0,2016-07-10 00:25:00.000000,-1.001879,-0.035603,-0.074320,7030 sleeping;MET 0.95
1,2016-07-10 00:25:00.010000,-1.001879,-0.035603,-0.089897,7030 sleeping;MET 0.95
2,2016-07-10 00:25:00.020000,-1.001879,-0.020150,-0.074320,7030 sleeping;MET 0.95
3,2016-07-10 00:25:00.030000,-0.986418,-0.035603,-0.074320,7030 sleeping;MET 0.95
4,2016-07-10 00:25:00.040000,-1.001879,-0.035603,-0.074320,7030 sleeping;MET 0.95

In [5]:
P043_without_annotations = P043.drop(columns=['annotation'])
P043_without_annotations_small= P043_without_annotations.iloc[5000000:5500000,:]
#P043_without_annotations.to_csv("../../data/data_processed/participants/P043_no_annotations.csv.gz", index=False, compression='gzip')
#P043_without_annotations_small.to_csv("../../data/data_processed/participants/P043_no_annotations_small.csv", index=False)

In [6]:
P043_without_annotations.to_parquet("../../data/data_processed/participants/P043_no_annotations.snappy.parquet", index=False, compression ='snappy')

In [ ]:
P043_without_annotations.to_parquet("../../data/data_processed/participants/P043_no_annotations.parquet", index=False)
P043_without_annotations_small.to_parquet("../../data/data_processed/participants/P043_no_annotations_small.parquet", index=False)

In [ ]:
P043_without_annotations.head("../../data/data_processed/participants/P043_no_annotations.csv.gz")

                         time         x         y         z
0  2016-07-10 00:25:00.000000 -1.001879 -0.035603 -0.074320
1  2016-07-10 00:25:00.010000 -1.001879 -0.035603 -0.089897
2  2016-07-10 00:25:00.020000 -1.001879 -0.020150 -0.074320
3  2016-07-10 00:25:00.030000 -0.986418 -0.035603 -0.074320
4  2016-07-10 00:25:00.040000 -1.001879 -0.035603 -0.074320

In [20]:
P043_without_annotations.shape

(9282001, 4)

In [27]:
import pyarrow