In [1]:
import pandas as pd

In [2]:
!pwd

/home/lianabernat/code/LianaBernat/wearable-project/notebooks/testes

In [3]:
P043 = pd.read_csv("../../data/data_raw/capture24/capture24/P043.csv.gz")

/tmp/ipykernel_9594/1050348102.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  P043 = pd.read_csv("../../data/data_raw/capture24/capture24/P043.csv.gz")

In [4]:
P043.head()

,time,x,y,z,annotation
0,2016-07-10 00:25:00.000000,-1.001879,-0.035603,-0.074320,7030 sleeping;MET 0.95
1,2016-07-10 00:25:00.010000,-1.001879,-0.035603,-0.089897,7030 sleeping;MET 0.95
2,2016-07-10 00:25:00.020000,-1.001879,-0.020150,-0.074320,7030 sleeping;MET 0.95
3,2016-07-10 00:25:00.030000,-0.986418,-0.035603,-0.074320,7030 sleeping;MET 0.95
4,2016-07-10 00:25:00.040000,-1.001879,-0.035603,-0.074320,7030 sleeping;MET 0.95

In [8]:
P043_without_annotations = P043.drop(columns=['annotation'])
P043_without_annotations_small= P043_without_annotations.iloc[5000000:5500000,:]
#P043_without_annotations.to_csv("../../data/data_processed/participants/P043_no_annotations.csv.gz", index=False, compression='gzip')
#P043_without_annotations_small.to_csv("../../data/data_processed/participants/P043_no_annotations_small.csv", index=False)

In [6]:
P043_without_annotations.to_parquet("../../data/data_processed/participants/P043_no_annotations.snappy.parquet", index=False, compression ='snappy')

In [ ]:
P043_without_annotations.to_parquet("../../data/data_processed/participants/P043_no_annotations.parquet", index=False)
P043_without_annotations_small.to_parquet("../../data/data_processed/participants/P043_no_annotations_small.parquet", index=False)

In [ ]:
P043_without_annotations.head()

                         time         x         y         z
0  2016-07-10 00:25:00.000000 -1.001879 -0.035603 -0.074320
1  2016-07-10 00:25:00.010000 -1.001879 -0.035603 -0.089897
2  2016-07-10 00:25:00.020000 -1.001879 -0.020150 -0.074320
3  2016-07-10 00:25:00.030000 -0.986418 -0.035603 -0.074320
4  2016-07-10 00:25:00.040000 -1.001879 -0.035603 -0.074320

In [9]:
P043_without_annotations_small.head()

,time,x,y,z,timestamp_raw,window_start_sim
5000000,2016-07-10 14:18:20.000000,-0.540552,-0.455390,-0.297072,2016-07-10 14:18:20.000000,2016-07-10 14:18:20
5000001,2016-07-10 14:18:20.010000,-0.617860,-0.594462,-0.328226,2016-07-10 14:18:20.010000,2016-07-10 14:18:20
5000002,2016-07-10 14:18:20.020000,-0.695168,-0.687177,-0.359381,2016-07-10 14:18:20.020000,2016-07-10 14:18:20
5000003,2016-07-10 14:18:20.030000,-0.757015,-0.733534,-0.328226,2016-07-10 14:18:20.030000,2016-07-10 14:18:20
5000004,2016-07-10 14:18:20.040000,-0.787938,-0.795344,-0.234762,2016-07-10 14:18:20.040000,2016-07-10 14:18:20

In [10]:
P043_without_annotations_small.tail()

,time,x,y,z,timestamp_raw,window_start_sim
5499995,2016-07-10 15:41:39.950000,-0.602399,0.363588,0.030054,2016-07-10 15:41:39.950000,2016-07-10 15:41:35
5499996,2016-07-10 15:41:39.960000,-0.586937,0.409945,0.014476,2016-07-10 15:41:39.960000,2016-07-10 15:41:35
5499997,2016-07-10 15:41:39.970000,-0.602399,0.471755,-0.001101,2016-07-10 15:41:39.970000,2016-07-10 15:41:35
5499998,2016-07-10 15:41:39.980000,-0.648783,0.533564,0.014476,2016-07-10 15:41:39.980000,2016-07-10 15:41:35
5499999,2016-07-10 15:41:39.990000,-0.679707,0.595374,0.030054,2016-07-10 15:41:39.990000,2016-07-10 15:41:35

In [20]:
P043_without_annotations.shape

(9282001, 4)

In [27]:
import pyarrow

In [5]:
df = P043
df.head()

,time,x,y,z,annotation
0,2016-07-10 00:25:00.000000,-1.001879,-0.035603,-0.074320,7030 sleeping;MET 0.95
1,2016-07-10 00:25:00.010000,-1.001879,-0.035603,-0.089897,7030 sleeping;MET 0.95
2,2016-07-10 00:25:00.020000,-1.001879,-0.020150,-0.074320,7030 sleeping;MET 0.95
3,2016-07-10 00:25:00.030000,-0.986418,-0.035603,-0.074320,7030 sleeping;MET 0.95
4,2016-07-10 00:25:00.040000,-1.001879,-0.035603,-0.074320,7030 sleeping;MET 0.95

In [6]:
# %%
df["timestamp_raw"] = df["time"].astype(str)
converted = pd.to_datetime(df["timestamp_raw"], errors="coerce")

invalid = df[converted.isna()]
invalid.head(20), len(invalid)

(Empty DataFrame
 Columns: [time, x, y, z, annotation, timestamp_raw]
 Index: [],
 0)

In [7]:
df["window_start_sim"] = pd.to_datetime(df["time"], errors="coerce").dt.floor("5s")

invalid_sim = df[df["window_start_sim"].isna()]
invalid_sim.head(30), len(invalid_sim)

(Empty DataFrame
 Columns: [time, x, y, z, annotation, timestamp_raw, window_start_sim]
 Index: [],
 0)