In [4]:
!pwd

/home/lianabernat/code/LianaBernat/wearable-project/notebooks/testes

In [6]:
import json

with open("../../data/data_processed/participants/resultado_P043_small.json", "r", encoding="utf-8") as f:
    data = json.load(f)

print(len(data["willetts_10classes"]))
print(len(data["walmsley_4classes"]))

1000
1000

In [10]:
from pprint import pprint

pprint(data["willetts_10classes"][:5])
#pprint(data["walmsley_4classes"][:5])

[{'label': 'household-chores',
  'label_id': 1,
  'window_start': '2016-07-10T14:18:20'},
 {'label': 'household-chores',
  'label_id': 1,
  'window_start': '2016-07-10T14:18:25'},
 {'label': 'household-chores',
  'label_id': 1,
  'window_start': '2016-07-10T14:18:30'},
 {'label': 'household-chores',
  'label_id': 1,
  'window_start': '2016-07-10T14:18:35'},
 {'label': 'household-chores',
  'label_id': 1,
  'window_start': '2016-07-10T14:18:40'}]

In [8]:
import pandas as pd

df10 = pd.DataFrame(data["willetts_10classes"])
df4 = pd.DataFrame(data["walmsley_4classes"])

In [9]:

df4.head()

          window_start  label_id  label
0  2016-07-10T14:18:20         0  light
1  2016-07-10T14:18:25         0  light
2  2016-07-10T14:18:30         0  light
3  2016-07-10T14:18:35         0  light
4  2016-07-10T14:18:40         0  light

In [10]:
df10.head()

          window_start  label_id  label
0  2016-07-10T00:25:00         5  sleep
1  2016-07-10T00:25:05         5  sleep
2  2016-07-10T00:25:10         5  sleep
3  2016-07-10T00:25:15         5  sleep
4  2016-07-10T00:25:20         5  sleep