In [1]:
!pwd

/home/lianabernat/code/LianaBernat/wearable-project/notebooks/testes

In [2]:
import json

with open("../../data/data_processed/participants/resultado_P043_small.json", "r", encoding="utf-8") as f:
    data = json.load(f)

print(len(data["willetts_10classes"]))
print(len(data["walmsley_4classes"]))

1000
1000

In [3]:
from pprint import pprint

pprint(data["willetts_10classes"][:5])
#pprint(data["walmsley_4classes"][:5])

[{'label': 'household-chores',
  'label_id': 1,
  'window_start': '2016-07-10T14:18:20'},
 {'label': 'household-chores',
  'label_id': 1,
  'window_start': '2016-07-10T14:18:25'},
 {'label': 'household-chores',
  'label_id': 1,
  'window_start': '2016-07-10T14:18:30'},
 {'label': 'household-chores',
  'label_id': 1,
  'window_start': '2016-07-10T14:18:35'},
 {'label': 'household-chores',
  'label_id': 1,
  'window_start': '2016-07-10T14:18:40'}]

In [4]:
import pandas as pd

df10 = pd.DataFrame(data["willetts_10classes"])
df4 = pd.DataFrame(data["walmsley_4classes"])

In [5]:

df4.head()

          window_start  label_id  label
0  2016-07-10T14:18:20         0  light
1  2016-07-10T14:18:25         0  light
2  2016-07-10T14:18:30         0  light
3  2016-07-10T14:18:35         0  light
4  2016-07-10T14:18:40         0  light

In [6]:
df10.head()

          window_start  label_id             label
0  2016-07-10T14:18:20         1  household-chores
1  2016-07-10T14:18:25         1  household-chores
2  2016-07-10T14:18:30         1  household-chores
3  2016-07-10T14:18:35         1  household-chores
4  2016-07-10T14:18:40         1  household-chores

In [7]:
df10.tail()

            window_start  label_id    label
995  2016-07-10T15:41:15         9  walking
996  2016-07-10T15:41:20         8  vehicle
997  2016-07-10T15:41:25         8  vehicle
998  2016-07-10T15:41:30         8  vehicle
999  2016-07-10T15:41:35         8  vehicle